.pill-nav a {
    display: inline-block;
    color: wheat;
    text-align: center;
    padding: 14px;
    text-decoration:blink;
    font-size: 40px;
    border-radius: 5px;
    font-family:"Fantasy ";
    margin-left:7%;
    background-position:center;
    width:10%;
    margin-top:8%;
    box-sizing:content-box;
    
  }
  .pill-nav a:hover {
    background-color:darkred;
    color: white;
    width:auto;
    box-sizing:content-box;
  }
  
  .pill-nav a.active {
    background-color: darkred;
    color: white;
    width:auto;
    box-sizing:content-box;
   }
h1{
  font-size: 150px;
  font-family: 'Acme', sans-serif;
  font-weight: 900;
  color: darkred;
}
.fLogin{
  background-color: darkred;
  width: 15%;
  border-radius: 5%;
  margin-top: 3%;
  padding: 1%;
}
.boton{
  border-radius: 15%;
  font-family: fantasy;
  font-size: 30px;
  background-color: burlywood;
  color: darkred;
  
}
.subida{
  display: block;
  

}

#label1{
  font-family: fantasy;
  display: block;



}
label{
  display:block;
}
textarea{
  display:block;
}
